{% set mediaLink = 'storage/app/media/'%}

   <!-- MODAL -->
   <div class="control-popup modal fade" id="modal-cterminal-one">
       <div class="to-center">
           <div class="modal-dialog modal-dialog-centered" role="document">
               <div class="modal-content">
                   <div class="modal-body">
                       <button type="button" class="close" data-dismiss="modal"> &times;</button>
                       {% content 'modal/equipment/cterminal-one.htm' %}
                   </div>
               </div>
           </div>
       </div>
   </div>
   <!-- MODAL -->
   <!-- MODAL -->
   <div class="control-popup modal fade" id="modal-cterminal-two">
       <div class="to-center">
           <div class="modal-dialog modal-dialog-centered" role="document">
               <div class="modal-content">
                   <div class="modal-body">
                       <button type="button" class="close" data-dismiss="modal"> &times;</button>
                       {% content 'modal/equipment/cterminal-two.htm' %}
                   </div>
               </div>
           </div>
       </div>
   </div>
   <!-- MODAL -->

   <!-- MODAL -->
   <div class="control-popup modal fade" id="modal-cterminal-three">
       <div class="to-center">
           <div class="modal-dialog modal-dialog-centered" role="document">
               <div class="modal-content">
                   <div class="modal-body">
                       <button type="button" class="close" data-dismiss="modal"> &times;</button>
                       {% content 'modal/equipment/cterminal-three.htm' %}
                   </div>
               </div>
           </div>
       </div>
   </div>
   <!-- MODAL -->

     <!-- MODAL -->
     <div class="control-popup modal fade" id="modal-cterminal-four">
        <div class="to-center">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"> &times;</button>
                        {% content 'modal/equipment/cterminal-four.htm'  mediaUrl=mediaLink %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL -->

         <!-- MODAL -->
         <div class="control-popup modal fade" id="modal-cterminal-five">
            <div class="to-center">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal"> &times;</button>
                            {% content 'modal/equipment/cterminal-five.htm'  mediaUrl=mediaLink %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MODAL -->

        <!-- //POS SOLUTIONS MODAL -->

                 <!-- MODAL -->
                 <div class="control-popup modal fade" id="modal-possolution-one">
                    <div class="to-center">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal"> &times;</button>
                                    {% content 'modal/pos-solutions/modal-pos-payanywhere.htm'  mediaUrl=mediaLink %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MODAL -->