<div id="sideNav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <nav id="mobileNav">
        <ul>
            <li class="{% if this.page.id == 'home' %}link-active{% endif %}">
                <a href="{{ 'home'|page }}">
                    Home
                </a>
            </li>
            <li class="{% if this.page.id == 'about' %}link-active{% endif %}">
                <a href="{{ 'about'|page }}">
                    About
                </a>
            </li>
            <li class="{% if this.page.id == 'cash-discount' %}link-active{% endif %}">
                <a href="{{ 'cash-discount'|page }}">
                    Cash Discount
                </a>
            </li>
            <li class="has-dropdown">
                <a class="button--disabled" href="javascript:void(0)">
                    Equipment
                </a>
                <ul class="nav-dropdown" class="">
                    <li>
                        <a href="{{ 'terminals-and-readers'|page }}">Terminals and Readers</a>
                    </li>
                    <li>
                        <a href="{{ 'pos-systems'|page }}">POS Systems</a>
                    </li>
                    <li>
                        <a href="{{'marketing-solutions'|page }}">Marketing Solutions</a>
                    </li>
                    <li>
                        <a href="{{'other-services'|page }}">Other Services</a>
                    </li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="javascript:void(0)">
                    Processing Solutions
                </a>
                <ul class="nav-dropdown" class="">
                    <li>
                        <a href="{{ 'high-risk-processing'|page }}">
                            High Risk Processing
                        </a>
                    </li>
                    <li>
                        <a href="{{ 'low-risk-solutions'|page }}">Low Risk Processing</a>
                    </li>
                    <li>
                        <a href="{{ 'cannabis-industry-process'|page }}">Cannabis Industry Process</a>
                    </li>
                    <li>
                        <a href="{{ 'short-term-lenders'|page }}">Short Term Lenders</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ 'contact'|page }}">
                    Contact
                </a>
            </li>
        </ul>
    </nav>
</div>
