$colors: (primary: #E04A1F,
    secondary:#E66E4C,
    content: #333,
    c-title: #656565,
    primary-hover: #DC5656,
    secondary-hover: #C94136,
    banner-shade: #e66e4c91);

$fonts: (main: 'Roboto',
    secondary: 'Open Sans'
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

;

@function font($font-name) {
    @return map-get($fonts, $font-name)
}
;
