$colors: (primary: #1F70C1,
    secondary: #FFC663,
    c-content: #333,
    c-title: #656565,
    primary-hover: #2060A0,
    secondary-hover: #FFD385
   );

$fonts: (main-font: 'Quicksand',
    secondary-font: 'Poppins'
);
// STICKY NAV 
$nav-height: 3em;

.filler {
    height: 40px;
}

.navbar-fixed {
    position: fixed;
    top: -($nav-height);
    padding: 5px 0 !important;

    .logo-container {
        img {
            max-width: 300px;
        }
    }
}

// PRESET START
body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: map-get($fonts, main-font);
    margin: 0;
}



a {
    font-family: map-get($fonts, secondary-font);
    font-weight: 500;
    color: map-get($colors, black);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: map-get($fonts, secondary-font);
}

figure {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

.__container {
    max-width: 1550px;
    width: 100%;
    margin: 0 auto;
}

.section__title {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 62px;
    color: map-get($colors, primary);
    text-transform: uppercase;
}

// BUTTONS

.button__standard {
    margin-top: 20px;
    background-color: map-get($colors, secondary);
    width: 220px;
    height: 50px;
    border-radius: 5px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.5s;

    &:hover { 
        background: map-get($colors, secondary-hover);
        cursor: pointer;
    }

    &.button__standard--reverse {
        background-color: map-get($colors, primary);
        color: #fff;

        &:hover {
        background-color:map-get($colors, primary-hover);
        }
    }
}



.button__standard a {
    color: #333;
    font-weight: bold;
    font-family: map-get($fonts, secondary-font);
    text-decoration: none;
}
// PRESET END 

// NAVIGATION START 
.header__navigation {
    padding: 0px 0px 20px;
    z-index: 999;
    background: #fff;
    width: 100%;
    border-bottom: #ddd solid 1px;


    .__container {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    nav {
        justify-self: end;

        ul {
            position: relative;
            padding: 0;
            margin: 0;
            list-style: none;
        }

        li:not(:last-of-type) {
            padding-right: 30px;
        }

        li.link-active a {
            color: map-get($colors, primary);
        }

        li.has-dropdown {
            .nav-dropdown {
                display: none;
                position: absolute;
                top: 25px;
                padding: 10px 20px;
                background: #fff;
                border-top: 1px solid #bbb;
                border-right: 1px solid #bbb;
                border-bottom: 1px solid #bbb;
                border-left: 1px solid #bbb;
                box-shadow: 1px 1px 6px #666;
                z-index: 1;
                width: auto;
                transition: 0.5s;

                li {
                    display: block;

                    a {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 40px;
                        color: #000;
                        text-transform: capitalize;
                    }

                    a:hover {
                        color: map-get($colors, primary)
                    }
                }
            }
        }

        li.has-dropdown:hover>.nav-dropdown {
            display: block;
        }

        li {
            display: inline-block;

            a {
                font-family: map-get($fonts, main-font);
                text-transform: uppercase;
                font-weight: bold;
                color: #333;
                text-decoration: none;
            }



            a:hover,
            a:active {
                color: map-get($colors, primary);
            }
        }
    }

    .logo-container {
        margin: 0px;
    }
}

// HEROBANNER START 

.section__herobanner {
    background: url("../images/herobanner.jpg") no-repeat;
    background-size: cover;
    padding: 100px 0px;
    position: relative;

    .__container {
        display: grid;

        article {
            position: relative;
            z-index: 1;

            .heading__herobanner {
                font-family: map-get($fonts, main-font);
                font-style: normal;
                font-weight: bold;
                font-size: 65px;
                line-height: 81px;
                text-align: center;
                color: #fff;
                text-shadow: 3px 11px 15px rgba(52, 46, 46, 0.25);
            }

            .subheading__herobanner {
                font-family: map-get($fonts, main-font);
                font-style: normal;
                font-weight: bold;
                font-size: 45px;
                line-height: 56px;
                text-align: center;
                color: map-get($colors, secondary);
                margin: 40px 0;
            }

            .button__standard {
                margin: 30px auto;
            }
        }
    }
}

.section__herobanner:before {
    content: "";
    background: rgba(31, 112, 193, 0.8);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

// RESPONSIVE 

// HEROBANNER STYLES END 

// SPECIALS STYLES START
.section__specials {
    padding: 80px 0;

    .__container {
        display: grid;
        gap: 100px;

        .specials__article {
            display: grid;
            grid-template-columns: auto auto;
            gap: 50px;

            .section__title {
                color: map-get($colors, primary);
                padding-bottom: 20px;
                font-size: 40px;
            }

            .specials__text {
                font-family: map-get($fonts, secondary-font);
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 45px;
            }
        }

        .specials__article--reverse {
            grid-template-rows: 1fr;

            figure {
                grid-column: 2;
                grid-row: 1;
            }

            .specials__text {
                grid-column: 1;
                grid-row: 1;
            }
        }
    }
}

// SERVICES STYLES START
.section__services {
    padding: 85px 0;

    .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, auto));
        gap: 90px;
        justify-content: center;
    }

    .service-item {
        .button__standard {
            margin: 20px 0;
            color: #333;
            text-decoration: none;
        }

        .service-image {
            position: relative;
            width: 100%;
            height: 350px;
            padding-bottom: 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        button.close {
            position: relative;
            z-index: 99;
        }

        .close {
            opacity: 0.5;
            font-size: 35px;
        }
    }

    .section__title {
        text-align: center;
        padding-bottom: 80px;
    }

    .service-title {
        color: map-get($colors, primary);
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        line-height: 30px;
        text-transform: uppercase;
        padding: 45px 0 15px 0;
    }

    .service-content {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
    }

    .button__standard {
        margin: 40px auto;
    }

}

@media (min-width: 768px) {
    .section__services {
        .modal-dialog {
            width: 1000px;
        }
    }
}


// BRANDS STYLES START

.section__brands {
    padding: 50px 0 80px;

    .__container {
        .section__title {
            text-align: center;
            padding: 50px 0;
        }
    }
}

//VIDEO STYLES START 

.section__videos {
    padding: 80px 0;

    .__container {
        display: grid;
        grid-template-rows: auto auto;
        justify-items: center;

        .section__title {
            text-align: center;
            padding-bottom: 40px;
        }


        .video_container {
            max-width: 635px;
            width: 100%;
        }
    }
}

// CTA STYLES START

.section__cta {
    background: url('../images/cta-background.jpg') no-repeat;
    background-size: cover;
    position: relative;

    .__container {
        display: grid;
        grid-template-rows: auto auto;
        justify-items: center;
        position: relative;
        z-index: 1;
        padding: 80px 0;

        .cta-content {
            font-style: normal;
            font-weight: bold;
            font-size: 46px;
            line-height: 56px;
            /* or 122% */
            color: #fff;
            text-align: center;
        }

        .button__standard {
            margin-top: 40px;
        }
    }
}

.section__cta:before {
    content: "";
    background: rgba(31, 112, 193, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

// SECTION FORM START

.section__contact {
    padding: 80px 0;

    .__container {
        .contact__info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 85px;

            .section__title {
                font-style: normal;
                font-weight: bold;
                font-size: 60px;
                line-height: 87px;
                text-transform: none;
            }

            .contact__deets {
                display: grid;
                row-gap: 10px;
                justify-content: end;

                div {
                    display: grid;
                    grid-template-columns: max-content auto;
                    align-items: center;
                    gap: 30px;

                    figure {
                        display: grid;
                        align-items: center;
                    }
                }

                .contact-link--phone,
                .contact-link--email {
                    font-style: normal;
                    font-weight: bold;
                    font-family: map-get($fonts, main-font);
                    font-size: 50px;
                    line-height: 62px;
                    color: map-get($colors, c-title);
                }
            }
        }

        #contact-form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 40px;
            gap: 85px;

            .contact-textboxes {
                display: grid;

                div input[type=text],
                div input[type=email] {
                    width: 100%;
                    height: 70px;
                    background: #F5F5F5;
                    border: 1px solid map-get($colors, c-title);
                    box-sizing: border-box;
                    border-radius: 10px;
                    padding-left: 20px;
                    font-family: map-get($fonts, secondary-font);
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 37px;
                }

                div input[type=text]::placeholder,
                div input[type=email]::placeholder {
                    color: #929292;
                    vertical-align: center;
                }
            }

            .contact-textarea {
                display: grid;

                div textarea {
                    width: 100%;
                    height: 330px;
                    color: #333;
                    border: 1px solid map-get($colors, c-title);
                    background: #F5F5F5;
                    border: 1px solid #656565;
                    box-sizing: border-box;
                    border-radius: 10px;
                    padding-left: 20px;
                    font-family: map-get($fonts, secondary-font);
                    font-style: normal;
                    font-weight: normal;
                    font-size: 25px;
                    line-height: 37px;
                    color: #656565;
                    padding: 15px;
                }

                div textarea::placeholder {
                    color: #929292;
                }

                .button__standard {
                    justify-self: end;
                    color: #333;
                }
            }
        }
    }
}

//  FOOTER STYLES START

footer {
    .top-footer {
        background: map-get($colors, primary);
        padding: 30px 0;

        .__container {
            display: grid;
            grid-template-columns: 1fr auto auto;
            gap: 80px;

            figure {
                h6 {
                    font-size: 13px;
                    font-weight: 700px;
                    color: #fff;
                }
            }

            .footer-text {
                color: #fff;
                font-style: normal;
                font-weight: bold;
                font-size: 25px;
                line-height: 31px;
            }

            address {
                font-style: normal;
                display: grid;
                grid-template-columns: max-content auto;
                align-self: center;
                column-gap: 30px;
            }

            .footer-social {
                align-self: center;
                justify-self: end;

                .footer-text {
                    padding-bottom: 10px;
                }


                figure {
                    display: grid;
                    grid-template-columns: repeat(5, auto);
                    column-gap: 35px;
                }
            }
        }
    }

    .bottom-footer {
        padding: 20px 0;

        .__container {
            display: grid;
            grid-template-columns: auto auto auto;
            align-self: center;

            .bottom-footer-writeup {
                justify-self: center;
                align-self: center;

                h6 {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    color: #8A8686;
                    font-family: map-get($fonts, main-font);
                }
            }

            .footer-terms,
            .footer-terms a,
            .footer-copyright h6 {
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: #8A8686;
                font-family: map-get($fonts, main-font);
            }

            .footer-copyright {
                justify-self: end;
            }

        }
    }
}

// RESPONSIVE STYLES










