.filler {
  height: 40px;
}

.navbar-fixed {
  position: fixed;
  top: -3em;
  padding: 5px 0 !important;
}

.navbar-fixed .logo-container img {
  max-width: 300px;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
  margin: 0;
}

a {
  font-family: "Roboto";
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: "Roboto";
}

figure {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.__container {
  max-width: 1550px;
  width: 100%;
  margin: 0 auto;
}

.section__title {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 62px;
  color: #1F70C1;
  text-transform: uppercase;
}

.button__standard {
  margin-top: 20px;
  background-color: #FFC663;
  width: 220px;
  height: 50px;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button__standard:hover {
  background: #FFD385;
  cursor: pointer;
}

.button__standard.button__standard--reverse {
  background-color: #1F70C1;
  color: #fff;
}

.button__standard.button__standard--reverse:hover {
  background-color: #2060A0;
}

.button__standard a {
  color: #333;
  font-weight: bold;
  font-family: "Roboto";
  text-decoration: none;
}

.header__navigation {
  padding: 0px 0px 20px;
  z-index: 999;
  background: #fff;
  width: 100%;
  border-bottom: #ddd solid 1px;
}

.header__navigation .__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navigation nav {
  -ms-grid-column-align: end;
      justify-self: end;
}

.header__navigation nav ul {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__navigation nav li:not(:last-of-type) {
  padding-right: 30px;
}

.header__navigation nav li.link-active a {
  color: #1F70C1;
}

.header__navigation nav li.has-dropdown .nav-dropdown {
  display: none;
  position: absolute;
  top: 25px;
  padding: 10px 20px;
  background: #fff;
  border-top: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
  -webkit-box-shadow: 1px 1px 6px #666;
          box-shadow: 1px 1px 6px #666;
  z-index: 1;
  width: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__navigation nav li.has-dropdown .nav-dropdown li {
  display: block;
}

.header__navigation nav li.has-dropdown .nav-dropdown li a {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 40px;
  color: #000;
  text-transform: capitalize;
}

.header__navigation nav li.has-dropdown .nav-dropdown li a:hover {
  color: #1F70C1;
}

.header__navigation nav li.has-dropdown:hover > .nav-dropdown {
  display: block;
}

.header__navigation nav li {
  display: inline-block;
}

.header__navigation nav li a {
  font-family: "Poppins";
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.header__navigation nav li a:hover,
.header__navigation nav li a:active {
  color: #1F70C1;
}

.header__navigation .logo-container {
  margin: 0px;
}
/*# sourceMappingURL=main.css.map */