 
 {% set assetImageUrl = 'assets/images/'|theme %}
 
 <!-- FOOTER START -->
 <footer>
    <section class="top-footer">
        <div class="__container">
            <figure>
                <a href="">
                    <img src="{{'logo-white.png'|media}}" alt="">
                </a>
            </figure>
            <address>
                <figure>
                    <img src="{{assetImageUrl}}/icon-map-marker.svg" alt="">
                </figure>
                <h4 class="footer-text">
                    20202 Gateway Rd, Elkhorn, Nebraska 68022, United States 
                </h4>
            </address>
            <div class="footer-social">
                <h4 class="footer-text">
                    Follow us on:
                </h4>
                <figure>
                    <a href="https://www.facebook.com/myumbrellatree/" target="_blank">
                        <img src="{{assetImageUrl}}/social-facebook.svg" alt="">
                    </a>
                    <a href="https://www.linkedin.com/company/nbmsinc" target="_blank"> 
                        <img src="{{assetImageUrl}}/social-linkedin.svg" alt="">
                    </a>
                    <!-- <a href="" target="_blank">
                        <img src="{{assetImageUrl}}/social-tiktok.svg" alt="">
                    </a> -->
                    <a href="https://twitter.com/MyUmbrellaTree_" target="_blank">
                        <img src="{{assetImageUrl}}/social-twitter.svg" alt="">
                    </a>
                    <a href="https://www.youtube.com/channel/UCqQDDd2r4udOswSYmVEXasQ" target="_blank">
                        <img src="{{assetImageUrl}}/social-youtube.svg" alt="">
                    </a>
                </figure>
            </div>
        </div>
    </section>
    <section class="bottom-footer">
        <div class="__container">
            <article class="footer-terms">
                <a href="{{'terms-and-conditions'|page}}">Terms and conditions</a> | <a href="{{ 'privacy-policy'|page }}">
                    Privacy policy
                </a>
            </article>
            <article class="footer-copyright">
                <h6>
                    © 2020 Synergy Pay Solutions. All rights reserved.
                </h6>
            </article>
        </div>
</footer>
<!-- FOOTER END -->