<section class="section__secondary-cta">
    <div class="__container">
        <article>
            <p>
                We are a leading provider of payment processing services, enabling our clients to accept a full suite of payment forms, including: credit cards, debit cards, checks, and gift and loyalty programs.
            </p>
            <div>
                <a class="button__standard" href="contact">
                    Contact Us
                </a>
            </div>
        </article>
    </div>
</section>