<main class="content-one" id="contentOne">
    <div class="__container">
        <article class="content-one__article">
            <figure>
                <img src="{{'customer-partners.jpg'|media}}" alt="">
            </figure>
            <div class="write-up">
                <div>
                    <h3 class="__title">
                        We'll help you in your business!
                    </h3>
                    <p class="__content-text">
                        My merchant help brings over 25 years experience in payments. We bring the integrity of
                        low risk payments to the high risk world! We recognize that this market has been under serviced for
                        years, and now we are here to help.
                    </p>
                </div>
                <a href="about" class="button__standard">
                    Learn more
                </a>
            </div>
        </article>
        <article class="content-one__article content-one__article">
            <figure>
                <img src="{{'home-about.jpg'|media}}" alt="">
            </figure>
            <div class="write-up">
                <div>
                    <h3 class="__title">
                        Our Customers and Partners
                    </h3>
                    <p class="__content-text">
                        We have customers in nearly any industry you can think of! We specialize in CBD / Hemp oil,
                        Cannabis, and Payday Loans but can setup any type of account you need.
    
                        We offer many partnership and agent programs. Some of our partners include:
    
                        - Other processing companies
    
                        - Integrated Point of Sales
    
                        - Associations
    
                        - Financial Institutions
    
                        We are always looking for new partners so don't be afraid to give us a call and start a discussion.
                    </p>
                </div>
                <a href="contact" class="button__standard">
                    Learn more
                </a>
            </div>
        </article>

    </div>
</main>
